<a ui-sref="newGroup" class="btn-primary btn-lg nodecoration">Add New Group</a>
<table class="table movietable">
    <tr>
        <td><h3>All Groups</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="group in groups">
        <td>{{group.name}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewGroup({id:group.IDGroup})">View</a>
            <a class="btn btn-danger" ng-click="deleteGroup(group)">Delete</a>
        </td>
    </tr>
</table>