<div>
    {{status}}

    <div ng-show="showStudentListDiv">
        <p><b><i>Students</i></b></p>
        <table class="table table-hover">
            <tr>
                <td><b>ID</b></td>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Index No</b></td>
                <td><b>Birth Date</b></td>
                <td><b>Birth Place</b></td>
                <td><b>Group</b></td>
                <td><b>Action</b></td>
            </tr>
            <tr ng-repeat="student in students">
                <td>
                    {{student.IDStudent}}
                </td>
                <td>
                    {{student.FirstName}}
                </td>
                <td>
                    {{student.LastName}}
                </td>
                <td>
                    {{student.IndexNo}}
                </td>
                <td>
                    {{student.BirthDate}}
                </td>
                <td>
                    {{student.BirthPlace}}
                </td>
                <td>
                    {{student.Group.Name}}
                </td>
                <td>
                    <span ng-click="editStudent(student)" class="btn btn-primary">Edit</span>
                    <span ng-click="deleteStudent(student)" class="btn btn-danger">Delete</span>
                </td>
            </tr>
        </table>

        <span ng-click="createStudent()" class="btn btn-default">
            Create Student
        </span>
    </div>
    <div ng-show="showGroupListDiv">
        <p><b><i>Groups</i></b></p>
        <table class="table table-hover">
            <tr>
                <td><b>ID</b></td>
                <td><b>Name</b></td>
                <td><b>Action</b></td>
            </tr>
            <tr ng-repeat="group in groups">
                <td>
                    {{group.IDGroup}}
                </td>
                <td>
                    {{group.Name}}
                </td>
                <td>
                    <span ng-click="editGroup(group)" class="btn btn-primary">Edit</span>
                    <span ng-click="deleteGroup(group)" class="btn btn-danger">Delete</span>
                </td>
            </tr>
        </table>

        <span ng-click="createGroup()" class="btn btn-default">
            Create Group
        </span>
    </div>
    <div ng-show="showStudentFormDiv">
        <p class="divHead"></p>
        <table class="table">
            <tr>
                <td><b><i>{{Action}} Student</i></b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>ID</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="studentID" />
                </td>
                <td><b>IndexNo</b></td>
                <td>
                    <input type="text" ng-model="studentIndexNo" />
                </td>
            </tr>
            <tr>
                <td><b>FirstName</b></td>
                <td>
                    <input type="text" ng-model="studentFirstName" />
                </td>
                <td><b>LastName</b></td>
                <td>
                    <input type="text" ng-model="studentLastName" />
                </td>
            </tr>
            <tr>
                <td><b>BirthDate</b></td>
                <td>
                    <input type="text" ng-model="studentBirthDate" />
                </td>
                <td><b>BirthPlace</b></td>
                <td>
                    <input type="text" ng-model="studentBirthPlace" />
                </td>
            </tr>
            <tr>
                <td>Group</td>
                <td>
                    <select ng-model="studentGroup" ng-options="group.Name for group in groups track by group.IDGroup">
                    </select> 
                </td>
                <td></td>
                <td>
                    <input type="button" class="btn btn-default" value="Save" ng-click="saveStudent()" />
                    <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancelStudentForm()" />
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="showGroupFormDiv">
        <p class="divHead"></p>
        <table class="table">
            <tr>
                <td><b><i>{{Action}} Group</i></b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>ID</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="groupID" />
                </td>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="groupName" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="button" class="btn btn-default" value="Save" ng-click="saveGroup()" />
                    <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancelGroupForm()" />
                </td>
            </tr>
        </table>
    </div>
</div>