<div ng-app="StudentsApp" ng-controller="StudentsController">
    <table class="table">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>IndexNo</th>
            <th>Group.Name</th>
        </tr>
        <tr ng-repeat="s in students">
            <td>{{s.FirstName}}</td>
            <td>{{s.LastName}}</td>
            <td>{{s.IndexNo}}</td>
            <td>{{s.Group.Name}}</td>
        </tr>
     </table>
</div>
